.contain{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.contain-item:nth-child(1){
    position: relative;
    width: 60%;
    height: 100%;
}
.contain-item:nth-child(2){
    position: relative;
    width: 36%;
    height: 96%;
    margin: auto 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.contain-item:nth-child(2):hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card, form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.card{
    background-color: whitesmoke;
    border: rgb(230, 230, 230) 3px solid;   
}
.form,mat-card-content{
    width: 100%;
}
mat-form-field{
    width: 90%;
}
mat-card-title{
    color: black;
    border-bottom: 1px solid black;
}
mat-label{
    cursor: pointer;
}

mat-form-field, mat-label{
    color: black;
}

.log-btn{
    background-color: rgb(94, 85, 85);
    border: 2px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
    width: 200px;
    height: 7vh;
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
mat-hint{
    color: red;
}