<div class="contain">
    <div class="form">
        <details>
            <summary>Object Detection</summary>
            <label>Cam ID : </label><br>
            <label>Path  : </label><br>
            <label>Date  : </label><br>
            <label>Time : </label><br>
            <button class="btn btn-sm" style="background-color: rgb(240, 51, 114);color: white;">Disable</button>
        </details>
        <details>
            <summary>Object Detection</summary>
            <label>Cam ID : </label><br>
            <label>Cam Location : </label><br>
            <label>Date  : </label><br>
            <label>Time : </label><br>
            <button class="btn" style="background-color: rgb(240, 51, 114);color: white;">Disable</button>
        </details>
        <details>
            <summary>Object Detection</summary>
            <label>Cam ID : </label><br>
            <label>Cam Location : </label><br>
            <label>Date  : </label><br>
            <label>Time : </label><br>
            <button class="btn" style="background-color: rgb(240, 51, 114);color: white;">Disable</button>
        </details>
        <details>
            <summary>Object Detection</summary>
            <label>Cam ID : </label><br>
            <label>Cam Location : </label><br>
            <label>Date  : </label><br>
            <label>Time : </label><br>
            <button class="btn" style="background-color: rgb(240, 51, 114);color: white;">Disable</button>
        </details>
        <details>
            <summary>Object Detection</summary>
            <label>Cam ID : </label><br>
            <label>Cam Location : </label><br>
            <label>Date  : </label><br>
            <label>Time : </label><br>
            <button class="btn" style="background-color: rgb(240, 51, 114);color: white;">Disable</button>
        </details>
    </div>
</div>