<div class="nav-bar">
    <div class="nav-bar-item">
       <label style="font-size: 1rem;color: rgb(94, 85, 85);">GARUDA VER 2.0</label>
    </div>
    
    <div class="nav-bar-item">
        <label routerLink="/home" routerLinkActive="active">HOME</label>
        <label routerLink="/about" routerLinkActive="active">ABOUT</label>
        <label routerLink="/contact" routerLinkActive="active">CONTACT US</label>
        <label *ngIf="!log" routerLink="/login" routerLinkActive="active">LOGIN</label>
        <label *ngIf="!log" routerLink="/signup" routerLinkActive="active">SIGN UP</label>
        
        <label *ngIf="log && super()" class="active" routerLink="/login">Super Admin</label>
        <label *ngIf="log && partner()" class="active" routerLink="/login">Partner Admin</label>
        <label *ngIf="log && account()" class="active" routerLink="/login">Account Admin</label>

        <label *ngIf="log" [matMenuTriggerFor]="menu"><i class="fas fa-power-off" style="color: red;"></i></label>
    </div>
    
</div>
<div class="router">
    <router-outlet></router-outlet>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Name  : {{name}}</button>
    <button mat-menu-item>Email : {{email}}</button>
    <button mat-menu-item>Phone : {{mobile}}</button>
    <button mat-menu-item (click)="logout()">
        <button mat-raised-button color="accent">logout</button>
    </button>
</mat-menu>

